# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/mahahussain/Desktop/UK-Road-Accident-Analysis/UK-Road-Accident-Analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/mahahussain/Desktop/UK-Road-Accident-Analysis/UK-Road-Accident-Analysis'

# Section 1: Data Extraction, Transformation & Loading (ETL)

### Importing libraries to be used

In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
import plotly.express as px

### Extract/Read the dataset

In [5]:
file_path = "Data/accident_data.csv"  # file path 
df = pd.read_csv(file_path)

### Checking the top 5 rows and the number of columns of the data set to have an overview of the data frame

In [6]:
df.head()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05-06-2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02-07-2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03-09-2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle

### Number of rows and columns

In [7]:
df.shape

(660679, 14)

### Data set generic information checking

* column names
* datatypes of columns
* number of entries and the memory space used through

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [9]:
df.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [10]:
df.drop(columns=['Weather_Conditions'], inplace=True)
df.head()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Vehicle_Type
0,200701BS64157,Serious,05-06-2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Car
1,200701BS65737,Serious,02-07-2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03-09-2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,Other vehicle

---

In [11]:
df['District Area'].unique()

array(['Kensington and Chelsea', 'Westminster', 'Richmond upon Thames',
       'Hammersmith and Fulham', 'Hounslow', 'Tower Hamlets',
       'City of London', 'Southwark', 'Camden', 'Hackney', 'Islington',
       'Barnet', 'Brent', 'Haringey', 'Merton', 'Ealing', 'Enfield',
       'Greenwich', 'Newham', 'London Airport (Heathrow)', 'Hillingdon',
       'Waltham Forest', 'Redbridge', 'Barking and Dagenham', 'Bromley',
       'Havering', 'Croydon', 'Lambeth', 'Wandsworth', 'Sutton', 'Bexley',
       'Lewisham', 'Harrow', 'Kingston upon Thames', 'Barrow-in-Furness',
       'South Lakeland', 'Carlisle', 'Eden', 'Allerdale', 'Copeland',
       'Fylde', 'Blackpool', 'Wyre', 'Lancaster', 'Chorley',
       'West Lancashire', 'South Ribble', 'Preston',
       'Blackburn with Darwen', 'Hyndburn', 'Ribble Valley', 'Burnley',
       'Pendle', 'Rossendale', 'Wirral', 'Liverpool', 'Sefton',
       'Knowsley', 'St. Helens', 'Manchester', 'Salford', 'Tameside',
       'Stockport', 'Bolton', 'Wigan', 'Trafford', 'Bury', 'Rochdale',
       'Oldham', 'Chester', 'Vale Royal', 'Halton', 'Warrington',
       'Crewe and ntwich', 'Ellesmere Port and Neston', 'Congleton',
       'Macclesfield', 'Crewe and Nantwich', 'Blyth Valley', 'Sunderland',
       'Gateshead', 'North Tyneside', 'Tynedale', 'Berwick-upon-Tweed',
       'Newcastle upon Tyne', 'Castle Morpeth', 'South Tyneside',
       'Wansbeck', 'Alnwick', 'Wear Valley', 'Sedgefield', 'Durham',
       'Easington', 'Chester-le-Street', 'Derwentside', 'Teesdale',
       'Darlington', 'Craven', 'Hambleton', 'Richmondshire', 'York',
       'Harrogate', 'Selby', 'Scarborough', 'Ryedale', 'Kirklees',
       'Leeds', 'Wakefield', 'Bradford', 'Calderdale', 'Doncaster',
       'Barnsley', 'Sheffield', 'Rotherham', 'North East Lincolnshire',
       'North Lincolnshire', 'East Riding of Yorkshire',
       'Kingston upon Hull, City of', 'Redcar and Cleveland',
       'Hartlepool', 'Middlesbrough', 'Stockton-on-Tees', 'Birmingham',
       'Wolverhampton', 'Walsall', 'Dudley', 'Sandwell', 'Solihull',
       'Coventry', 'Newcastle-under-Lyme', 'Stafford',
       'East Staffordshire', 'South Staffordshire', 'Lichfield',
       'Stoke-on-Trent', 'Cannock Chase', 'Tamworth',
       'Staffordshire Moorlands', 'Malvern Hills', 'Worcester',
       'Wychavon', 'Wyre Forest', 'Redditch', 'Bromsgrove',
       'Herefordshire, County of', 'Telford and Wrekin',
       'South Shropshire', 'Bridgnorth', 'Shrewsbury and Atcham',
       'North Shropshire', 'Oswestry', 'Warwick', 'Stratford-upon-Avon',
       'Rugby', 'North Warwickshire', 'Nuneaton and Bedworth',
       'Amber Valley', 'Erewash', 'Bolsover', 'High Peak',
       'Derbyshire Dales', 'North East Derbyshire', 'Chesterfield',
       'Derby', 'South Derbyshire', 'Ashfield', 'Mansfield',
       'Newark and Sherwood', 'Bassetlaw', 'Gedling', 'Rushcliffe',
       'Nottingham', 'Broxtowe', 'South Holland', 'South Kesteven',
       'North Kesteven', 'East Lindsey', 'Boston', 'West Lindsey',
       'Lincoln', 'Hinckley and Bosworth', 'Harborough', 'Leicester',
       'Rutland', 'Charnwood', 'Melton', 'North West Leicestershire',
       'Blaby', 'Oadby and Wigston', 'South Northamptonshire',
       'Northampton', 'Kettering', 'Corby', 'Daventry',
       'East Northamptonshire', 'Wellingborough', 'South Cambridgeshire',
       'Fenland', 'Huntingdonshire', 'Peterborough',
       'East Cambridgeshire', 'Cambridge', "King's Lynn and West Norfolk",
       'Norwich', 'Breckland', 'South Norfolk', 'Broadland',
       'Great Yarmouth', 'North Norfolk', 'St. Edmundsbury', 'Babergh',
       'Mid Suffolk', 'Forest Heath', 'Suffolk Coastal', 'Ipswich',
       'Waveney', 'Luton', 'Mid Bedfordshire', 'Bedford',
       'South Bedfordshire', 'East Hertfordshire', 'North Hertfordshire',
       'Welwyn Hatfield', 'St. Albans', 'Hertsmere', 'Three Rivers',
       'Watford', 'Dacorum', 'Broxbourne', 'Stevege', 'Stevenage',
       'Epping Forest', 'Brentwood', 'Castle Point', 'Uttlesford',
       'Chelmsford', 'Basildon', 'Tendring', 'Colchester', 'Thurrock',
       'Braintree', 'Rochford', 'Maldon', 'Southend-on-Sea', 'Harlow',
       'Aylesbury Vale', 'Wycombe', 'South Bucks', 'Chiltern', 'Slough',
       'Windsor and Maidenhead', 'South Oxfordshire', 'Milton Keynes',
       'Cherwell', 'Vale of White Horse', 'West Oxfordshire', 'Oxford',
       'Reading', 'West Berkshire', 'Wokingham', 'Bracknell Forest',
       'Eastleigh', 'Test Valley', 'Portsmouth', 'Winchester',
       'Basingstoke and Deane', 'Southampton', 'Fareham', 'Hart',
       'Gosport', 'Havant', 'Isle of Wight', 'East Hampshire', 'Rushmoor',
       'New Forest', 'Elmbridge', 'Mole Valley', 'Guildford',
       'Spelthorne', 'Epsom and Ewell', 'Runnymede', 'Woking',
       'Reigate and Banstead', 'Surrey Heath', 'Waverley', 'Tandridge',
       'Medway', 'Thanet', 'Shepway', 'Ashford', 'Maidstone', 'Dover',
       'Tunbridge Wells', 'Canterbury', 'Tonbridge and Malling', 'Swale',
       'Dartford', 'Sevenoaks', 'Gravesham', 'Brighton and Hove',
       'Chichester', 'Rother', 'Lewes', 'Wealden', 'Eastbourne',
       'Hastings', 'Crawley', 'Horsham', 'Mid Sussex', 'Arun', 'Adur',
       'Worthing', 'Kerrier', 'Restormel', 'Carrick', 'Penwith',
       'North Cornwall', 'West Devon', 'Torridge', 'Caradon',
       'North Devon', 'Mid Devon', 'Exeter', 'East Devon', 'Teignbridge',
       'Plymouth', 'South Hams', 'Torbay', 'Bristol, City of',
       'South Somerset', 'Sedgemoor', 'Mendip', 'Taunton Deane',
       'South Gloucestershire', 'North Somerset',
       'Bath and North East Somerset', 'West Somerset', 'Stroud',
       'Tewkesbury', 'Gloucester', 'Cotswold', 'Cheltenham',
       'Forest of Dean', 'Salisbury', 'Kennet', 'West Wiltshire',
       'North Wiltshire', 'Swindon', 'Bournemouth', 'Poole',
       'East Dorset', 'West Dorset', 'Weymouth and Portland',
       'Christchurch', 'Purbeck', 'North Dorset', 'Isle of Anglesey',
       'Conwy', 'Denbighshire', 'Flintshire', 'Wrexham', 'Gwynedd',
       'Monmouthshire', 'Newport', 'Caerphilly', 'Torfaen', 'Blaeu Gwent',
       'Blaenau Gwent', 'Merthyr Tydfil', 'The Vale of Glamorgan',
       'Cardiff', 'Rhondda, Cynon, Taff', 'Swansea', 'Bridgend',
       'Neath Port Talbot', 'Carmarthenshire', 'Ceredigion',
       'Pembrokeshire', 'Powys', 'Highland', 'Western Isles',
       'Orkney Islands', 'Shetland Islands', 'Aberdeenshire', 'Moray',
       'Aberdeen City', 'Dundee City', 'Angus', 'Perth and Kinross',
       'Fife', 'East Lothian', 'Midlothian', 'Scottish Borders',
       'Edinburgh, City of', 'West Lothian', 'Falkirk',
       'Clackmannanshire', 'Stirling', 'Clackmannshire', 'Glasgow City',
       'East Dunbartonshire', 'North Larkshire', 'North Lanarkshire',
       'Renfrewshire', 'East Renfrewshire', 'East Ayrshire',
       'South Larkshire', 'Inverclyde', 'West Dunbartonshire',
       'Argyll and Bute', 'South Lanarkshire', 'North Ayrshire',
       'South Ayrshire', 'Dumfries and Galloway', 'Cheshire East',
       'Cheshire West and Chester', 'Northumberland', 'County Durham',
       'Shropshire', 'Central Bedfordshire', 'Cornwall', 'Wiltshire'],
      dtype=object)

In [12]:
df.shape

(660679, 13)

In [13]:
df.isnull().sum()

Index                         0
Accident_Severity             0
Accident Date                 0
Latitude                     25
Light_Conditions              0
District Area                 0
Longitude                    26
Number_of_Casualties          0
Number_of_Vehicles            0
Road_Surface_Conditions     726
Road_Type                  4520
Urban_or_Rural_Area          15
Vehicle_Type                  0
dtype: int64

### Dropping Urban_or_Rural_Area variable

In [14]:
df.drop(columns=['Urban_or_Rural_Area'], inplace=False)

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Vehicle_Type
0,200701BS64157,Serious,05-06-2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Car
1,200701BS65737,Serious,02-07-2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03-09-2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Car

In [15]:
df.shape

(660679, 13)

In [16]:
df.isnull().sum()

Index                         0
Accident_Severity             0
Accident Date                 0
Latitude                     25
Light_Conditions              0
District Area                 0
Longitude                    26
Number_of_Casualties          0
Number_of_Vehicles            0
Road_Surface_Conditions     726
Road_Type                  4520
Urban_or_Rural_Area          15
Vehicle_Type                  0
dtype: int64

### Check for duplicates

In [17]:
duplicate_check = df.duplicated().any()
print('Duplicate entries found:', duplicate_check,'.')

Duplicate entries found: True .

In [18]:
duplicates_in_index = df[df.duplicated(subset='Index', keep=False)]
duplicates_in_index

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Vehicle_Type
23265,2.01E+12,Serious,02-01-2019,54.118079,Darkness - lights lit,Barrow-in-Furness,-3.227114,1,1,Dry,Single carriageway,Urban,Car
23266,2.01E+12,Slight,03-01-2019,54.226916,Daylight,South Lakeland,-2.773521,1,2,Wet or damp,Single carriageway,Rural,Car
23267,2.01E+12,Slight,04-01-2019,54.344991,Daylight,South Lakeland,-2.777121,1,2,Wet or damp,Single carriageway,Rural,Car
23268,2.01E+12,Slight,05-01-2019,54.330220,Daylight,South Lakeland,-2.739167,1,1,Wet or damp,One way street,Urban,Car
23269,2.01E+12,Slight,05-01-2019,54.260714,Daylight,South Lakeland,-2.813915,1,1,Wet or damp,Dual carriageway,Rural,Bus or coach (17 or more pass seats)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658928,2.01E+12,Slight,11-12-2022,51.532465,Darkness - lights lit,Bridgend,-3.667600,1,1,Wet or damp,Single carriageway,Rural,Car
658929,2.01E+12,Slight,12-12-2022,51.512353,Daylight,Bridgend,-3.587602,1,2,Wet or damp,Single carriageway,Urban,Car
658930,2.01E+12,Slight,26-11-2022,51.486706,Daylight,Cardiff,-3.177227,1,1,Dry,Single carriageway,Urban,Car
658931,2.01E+12,Slight,09-10-2022,51.626186,Daylight,Swansea,-3.941213,1,1,Dry,Single carriageway,Urban,Car
658932,2.01E+12,Slight,13-11-2022,51.654072,Daylight,Neath Port Talbot,-3.793642,1,2,Dry,Single carriageway,Urban,Car

Checking the duplicate rows, we can see that although the index is the same, the rest of the rows contain different data. In this case we won't be dropping the duplicated rows.

### Filter for Birmingham

In [19]:
cities = ['Warwick', 'Birmingham', 'Coventry', 'Dudley', 'Sandwell', 'Solihull', 'Walsall', 'Wolverhampton', 'Nuneaton and Bedworth']

filtered_df = df[df['District Area'].isin(cities)]
filtered_df.to_csv("your_file.csv", index=False)

In [20]:
filtered_df.shape

(32674, 13)

In [21]:
filtered_df.isnull().sum()

Index                       0
Accident_Severity           0
Accident Date               0
Latitude                    0
Light_Conditions            0
District Area               0
Longitude                   0
Number_of_Casualties        0
Number_of_Vehicles          0
Road_Surface_Conditions     0
Road_Type                  17
Urban_or_Rural_Area         0
Vehicle_Type                0
dtype: int64

NOTE

In [22]:
filtered_df = filtered_df.dropna(subset=['Road_Type'])

In [23]:
filtered_df.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Vehicle_Type               0
dtype: int64

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

In [24]:
# check unique values in District Area
filtered_df['District Area'].unique()

array(['Birmingham', 'Wolverhampton', 'Walsall', 'Dudley', 'Sandwell',
       'Solihull', 'Coventry', 'Warwick', 'Nuneaton and Bedworth'],
      dtype=object)

In [25]:
filtered_df.to_csv("filtered_accident_data_set.csv", index=False)

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.